//// Mixins 
@mixin round-corners($corner, $number)
  border-#{$corner}-radius: $number

@mixin btn-color($color)
	@if (lightness($color) > 50)
		background: $color
		color: #000
		&:hover
  			background: lighten($color,7%)
	@else 
		background: $color
		color: #fff
		&:hover
  			background: lighten($color,7%)