// bower:scss
// endbower

@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon'
@import '../../bower_components/neat/app/assets/stylesheets/neat'
@import url(https://fonts.googleapis.com/css?family=Roboto:400)
@import 'materialize/materialize'
@import 'vars-mixins'
@import 'settings-box'
@import '../bower_components/neat/app/assets/stylesheets/neat'

*
  box-sizing: border-box
  padding: 0
  margin: 0
  outline: none
  font-family: 'Roboto'

h1
  text-align: center
  margin: 2em 0 1em 0
  color: grey

#calc
  margin: 0 auto
  padding: 10px
  width: 450px
  height: 20em

#display
  text-align: right
  padding-right: 8px
  width: 100%
  height: 45px
  line-height: 45px
  margin: 0 auto 12px auto
  color: #fff
  background-color: $default-color


/// Button Styling
.btn 
  margin: 0 .25px 4px .25px
  height: 50px
  width: 80px
  font-weight: bold
  border-radius: 0

#nums
  // width: 70%
  float: left
  margin-right: 8px

#ops 
  float: right
  button 
    text-transform: lowercase
    font-size: 20px

.zero
  width: 100%

.default-btn-color button
  +btn-color($default-color)

.purple-btn-color button
  +btn-color($purple)

.green-btn-color button
  +btn-color($green)

.yellow-btn-color button
  +btn-color($yellow)

.red-btn-color button
  +btn-color($red)

.orange-btn-color button
  +btn-color($orange)

.pink-btn-color button
  +btn-color($pink)

.grey-btn-color button
  +btn-color($grey)

.top-left
  +round-corners('top-left',5px)

.top-right
  +round-corners('top-right',5px)

.bottom-left
  +round-corners('bottom-left',5px)

.bottom-right
  +round-corners('bottom-right',5px)



