// bower:scss
// endbower

@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon'
@import '../../bower_components/neat/app/assets/stylesheets/neat'
@import url(https://fonts.googleapis.com/css?family=Roboto:400)
@import 'materialize/materialize'

//variables
$btn-color: #00bcd4

*
  box-sizing: border-box
  padding: 0
  margin: 0
  outline: none
  font-family: 'Roboto'

h1
  text-align: center
  margin-bottom: 30px

#calc
  text-align: center
  margin: 0 auto
  width: 380px

#display
  text-align: right
  padding-right: 8px
  width: 90%
  height: 45px
  margin: 0 auto 15px auto

.btn 
  margin-bottom: 8px
  height: 50px

@mixin btn-color($color)
  @extend .btn
  background: $color
  &:hover
    background: lighten($color,10%)

.default-btn
  +btn-color(#00bcd4)

.green-btn
  +btn-color(green)

#nums
  width: 70%

// .num-row
//   display: flex

.zero
  width: 85%

@mixin round-corners($corner, $number)
  border-#{$corner}-radius: $number

.top-left
  +round-corners('top-left',5px)

.top-right
  +round-corners('top-right',5px)

.bottom-left
  +round-corners('bottom-left',5px)

.bottom-right
  +round-corners('bottom-right',5px)



