// bower:scss
// endbower

@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon'
@import '../../bower_components/neat/app/assets/stylesheets/neat'
@import url(https://fonts.googleapis.com/css?family=Roboto:400)
@import 'materialize/materialize'
@import 'vars-mixins'
@import 'settings-box'

*
  box-sizing: border-box
  padding: 0
  margin: 0
  outline: none
  font-family: 'Roboto'

h1
  text-align: center
  margin: 3em 0 1em 0
  color: grey

#calc
  margin: 0 auto
  padding-left: 10px
  width: 440px
  height: 20em
  background: #fdd835

#display
  text-align: right
  padding-right: 8px
  width: 100%
  height: 45px
  margin: 0 auto 35px auto
  background-color: #eee


/// Button Styling
.btn 
  margin: 0 .25px 4px .25px
  height: 50px

#nums
  // width: 70%
  float: left

#ops 
  float: right

.zero
  width: 100%

.default-btn-color button
  +btn-color($default-color)

.purple-btn-color button
  +btn-color($purple)

.green-btn-color button
  +btn-color($green)

.yellow-btn-color button
  +btn-color($yellow)

.red-btn-color button
  +btn-color($red)

.orange-btn-color button
  +btn-color($orange)

.pink-btn-color button
  +btn-color($pink)

.grey-btn-color button
  +btn-color($grey)

.top-left
  +round-corners('top-left',5px)

.top-right
  +round-corners('top-right',5px)

.bottom-left
  +round-corners('bottom-left',5px)

.bottom-right
  +round-corners('bottom-right',5px)



